.Task {
  width: 98%;
  padding: 10px;
  color: lightblue;
  border: 2px solid #fff;
  margin-top: 6px;
  border: 8px solid cyan;
}
.Task h1 {
  font-size: 22px;
  margin: 4px auto;
}
.Task__Button{
  margin-top: 44px;
  padding: 20px;
  display:block;
  margin: auto;
}
.Task__Button button{
  width: 98%;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
}





