.TaskPersonsList {
    display: flex;
    justify-content: center;
    padding-top: 1px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(90deg, #5061b2 0%, #7969e6 100%);
}
.TaskPersonsList h1 {
    color: blue;
}
.TaskPersonsList ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.TaskPersonsList li {
  
  position:relative;
  width: 98%;
  height: 34px;
  background-color: #e0f2f7;
  border: 1px solid cyan;
  border-radius: 8px;
  margin: 6px;
  padding: 4px; 
  color: black;
  cursor: pointer;
}

.TaskPersonsList li a, .Header {
  display: flex;
  justify-content: space-between;
    text-decoration: none;
}

.TaskPersonsList li:hover {
   background-color: #bde0ff;
  transition: background .3s ease-in-out;
}
.taskText{
  width: 42%;
  font-size: 11px;
  text-align: left;
}
.Header span{
  padding: 0 6px;
  font-size: 22px;
  font-weight: 500;
  border: 6px solid transparent;
  border-radius: 6px;
}
.Header span:hover{
  font-size: 22px;
  font-weight: 500;
  border-color: #e0f2f7;;
}

.performer{
  width: 22%;
  text-align: left;
}
.email{
  font-size: 11px;
  color: blue;
  
}
.status{
  width: 12%;
}
.Tests{

    width: 91%;
    margin: 6px auto;
    padding: 6px;
    background-color: #f3ffcf;
    border-radius: 6px;
}



